.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  width: 47%;
  /* height: 50%; */
  /* min-height: 360px; */
  background-color: var(--app-background-color);
  border-radius: 15px;
  padding: 4rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#modal-header-btn:hover {
  color: var(--color-primary);
  transition: 200ms all;
}

.modal-body p {
  margin-bottom: 2rem;
}

#container-download {
  display: flex;
  justify-content: space-between;
}

#container-download select {
  width: 45%;
  border: none;
  color: var(--color-tertiary-text);
  border-radius: 0.5rem;
  padding: 0.3rem;
  /* box-shadow: 0px 8px 28px -6px rgba (24,  39,  75,  12); */
  filter: drop-shadow(0px 8px 28px -6px rgba (24,  39,  75,  12));

  background: url("../../assets/images/arrow_select.png") no-repeat right
    var(--app-background-container);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#container-download option {
  color: #72787a;
}

#container-download button {
  background: #ffbb55;
  width: 45%;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  height: 42px;
}

#container-download button:not(:disabled):hover {
  border: 2px solid var(--color-primary) !important;
  color: var(--color-primary) !important;
  background-color: var(--app-background-color) !important;

  transition: 200ms all;
}

#container-download button:disabled {
  background: #ced4da;
  border: none;
  color: #ffff;
  border-radius: 0.5rem;
  cursor: not-allowed;
}

#alert-sentinel {
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  #container-download {
    display: flex;
    flex-direction: column;
  }

  #container-download select {
    width: 100%;
    margin-bottom: 1rem;
    height: 42px;
  }

  #container-download Button {
    width: 100%;
  }
}

@media (max-width: 906px) {
  .modal-header h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 832px) {
  .modal-header h1 {
    font-size: 1.1rem;
  }
}
