#results-menu {
  width: 30%;
  height: 100vh;
  background-color: #fff;
  color: #112233;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 12);
  overflow: auto;
}

#results-menu h1 {
  font-size: 1.5rem;
}

#contents {
  margin: 10% 8% 10% 8%;
}

/* ESTILIZAÇÃO DA HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
  border-bottom: 1px solid #eef3f3;
}

header button {
  border: none;
  background: transparent;
  padding: 0;
  align-self: center;
  width: 16px;
  height: 12.5px;
}

header button:hover {
  opacity: 55%;
  cursor: pointer;
}

/* ESTILIZAÇÃO DOS RESULTADOS */

#results {
  color: #72787a;
  line-height: 0;
  font-size: 0.87rem;
}

.image {
  padding-top: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eef3f3;
}

.buttons button {
  background: transparent;
  width: 48%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffbb55;
  border: 1px solid #ffbb55;
  border-radius: 3px;
  font-size: 0.75rem;
}

.buttons button:hover {
  color: #ffffff;
  background: #ffbb55;
  cursor: pointer;
}
