#results-menu {
  width: 25rem;
  max-width: 25rem;
  height: 100vh;
  padding: 2rem;

  background-color: #fff;
  color: #112233;
  box-shadow: 0px 8px 28px -6px rgba (24,  39,  75,  12);
  overflow-y: scroll;

  /* Fixa o menu no topo superior esquerdo */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999 !important;
}

#results-menu h1 {
  font-size: 1.5rem;
}

/* ESTILIZAÇÃO DA HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10%;
  border-bottom: 1px solid #eef3f3;
}

header .buttonMD:hover {
  color: var(--color-primary);
  transition: 200ms all;
}

/* ESTILIZAÇÃO DOS RESULTADOS */

#results {
  color: #72787a;
  line-height: 0;
  font-size: 0.87rem;

  margin-top: 1.5rem;
}

#results p {
  line-height: 1.3;
}

.satellite-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.satellite-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.satellite-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.satellite-header .cloud-cover {
  display: flex;
  gap: 0.2rem;
}

.satellite-image-list {
  padding-top: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eef3f3;
}

.buttons button {
  background: transparent;
  width: 48%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffbb55;
  border: 1px solid #ffbb55;
  border-radius: 3px;
  font-size: 0.75rem;
}

.buttons button:hover {
  color: #ffffff;
  background: #ffbb55;
  cursor: pointer;
  transition: 200ms all;
}

/* ACCORDION STYLE */
/*
.satellite-result .satellite-name {
  cursor: pointer;
}

.satellite-result .satellite-name:hover {
  filter: brightness(50%);
}

.satellite-result .satellite-name:after {
  content: "▼"; Unicode character for "plus" sign (+) 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.satellite-name.active:after {
  content: "▲";
}

.features-list {
  display: none;
}

.features-list.block {
  display: block;
}
*/
