.app-sidebar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 26vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main h2 {
  margin-bottom: 1rem;
}

main .option-satellites-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .option-satellite {
  display: flex;
  align-items: center;
}

main .option-satellites-list label {
  margin-left: 0.5rem;
}

main .area-interest-wrap {
  display: flex;
  justify-content: space-between;
}

main .area-interest-wrap .select {
  width: 2.3rem;
  height: 2.3rem;

  border: 1px solid black;
}

main .period-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .period-range input {
  width: 9rem;
  height: 2.3rem;
  border: none;

  background-color: #eef3f3;
  color: #b3c3cb;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

main .period-range input::-webkit-calendar-picker-indicator,
main .period-range input::-webkit-inner-spin-button {
  /* display: none; */
}

main .cloud-range input {
  width: 100%;
  margin-top: 1rem;
}

main .cloud-range .percent-cloud-range {
  text-align: end;
}

main p {
  color: #b3c3cb;
}

main label {
  color: #72787a;
}
