input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  height: 5px;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* bolinha */

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  border: 7px solid #ffddaa;

  -webkit-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #ffffff;

  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  border: 10px solid #ffddaa;

  height: 0.5rem;
  width: 0.5rem;

  border-radius: 50%;
  background: transparent;

  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  border: 5px solid #ffddaa;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

/* Linha */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: var(--color-primary);
  border-radius: 0.5rem;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: var(--app-background-container);
  border-radius: 0.5rem;
}

input[type="range"]::-moz-range-progress {
  background-color: var(--color-primary);
}
