.home main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10vw 10vw 0;
  margin-bottom: 5vw;
}

* {
  scroll-behavior: smooth;
}

/* -------------------------------------------header-------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 8vw;
  min-height: 50px;
  max-height: 88px;
  font-size: 1vw;
  display: grid;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25);
  align-self: center;
  justify-content: center;
  z-index: 1;
  grid-template-columns: 2fr 1fr 2fr 6fr 4fr 2fr 3fr 1fr;
  grid-template-areas: ". div_header_logo header_title . div_header_button . login_header_button .";
}

#div_header_logo {
  grid-area: div_header_logo;
  align-self: center;
  justify-content: center;
  margin-right: 0;
}

#header_logo {
  min-width: 30px;
  min-height: 30px;
  width: 3.5vw;
  height: 3.5vw;
  max-width: 60px;
  max-height: 60px;
}

#header_title {
  grid-area: header_title;
  align-self: center;
  justify-content: center;
  font-size: 2vw;
  margin-left: 0.2vw;
}

#div_header_button {
  grid-area: div_header_button;
  align-self: center;
  justify-content: center;
}

#header_button {
  background-color: #ffbb55;
  color: white;
  border: 2px solid #ffbb55;
  border-radius: 0.5rem;
  width: 22.57vw;
  height: 3.65vw;
  max-width: 402px;
  max-height: 65px;
  font-size: 1.2vw;
}

#home #header_button_login {
  background-color: #ffbb55;
  color: white;
  border: 2px solid #ffbb55;
  border-radius: 0.5rem;
  width: 6.51vw;
  height: 3.65vw;
  max-width: 122px;
  max-height: 65px;
  font-size: 1.2vw;
}

#home #login_true_options {
  grid-area: login_header_button;
  align-self: center;
  justify-content: center;
  font-size: 1.2vw;
  color: #ededee;
}

#home #login_true_options #editLogin:visited {
  color: #ffbb55;
}

#home #login_true_options #editLogin:hover {
  color: #2288cc;
  transition: 200ms all;
}

#home #login_true_options button {
  font-size: 1.2vw;
  background: none;
  border: none;
  margin: none;
  padding: none;
  color: #ffbb55;
}

#home #login_true_options #logout:hover {
  color: #2288cc !important;
  transition: 200ms all !important;
}

#login_header_button {
  grid-area: login_header_button;
  align-self: center;
  justify-content: center;
}

#home button:hover {
  background-color: white !important;
  color: #ffbb55 !important;
  transition: 200ms all !important;
  cursor: pointer;
}
/* -------------------------------------------Block 01-------------------------------------------------*/

#block_one {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  margin-bottom: 16vw;
}

#block_one_title {
  font-size: 3vw;
  line-height: 4vw;
  margin-bottom: 1.4rem;
}

#block_one_paragraph {
  font-size: 1.5vw;
}

#div_buttons_block_one {
  align-items: center;
  margin-top: 50px;
}

#button_plus_minus {
  background: transparent;
  height: 6vw;
  width: auto;
  margin: 1.6em;
}
#button_map_satellite {
  background: transparent;
  height: 6vw;
  width: auto;
  margin: 1.6em;
}

#big_r_side_map {
  position: absolute;
  top: 7.5vw;
  right: 0;
}

#big_r_map {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 34.7vw;
  height: 49.5vw;
}

/* -------------------------------------------Block 02-------------------------------------------------*/

#block_two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#map_txt2 {
  display: flex;
  gap: 2vw;
}

#l_map {
  border-radius: 3vw;
  width: 33.25vw;
  height: 14vw;
}

#block_two_title {
  align-self: center;
  justify-content: center;
  font-size: 3vw;
  line-height: 4vw;
  margin-bottom: 1.4rem;
}

#block_two_paragraph {
  align-self: center;
  justify-content: center;
  font-size: 1.5vw;
  margin-bottom: 3vw;
}

#div_satellites {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1vw;
}

.satellite_button:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.satellite_button {
  background-color: rgb(255, 255, 255);
  color: #ffbb55;
  border-color: #ffbb55;
  height: 6.26vw;
  width: 14.94vw;
  margin-bottom: 4vw;
  font-size: 1.75vw;
  border-radius: 0.8vw;
  border-width: 0.3vw;
  border-style: solid;
  display: inline-block;
  justify-content: center;
}
/* -------------------------------------------Block 03-------------------------------------------------*/

#block_three {
  display: flex;
  gap: 2vw;
}

#block_three_title {
  align-self: center;
  justify-content: center;
  line-height: 4vw;
  font-size: 3vw;
  margin-bottom: 1.4rem;
}

#block_three_paragraph {
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

#block_three_paragraph span {
  color: #ffbb55;
}

#r_side_map {
  align-self: center;
  justify-content: center;
}

#r_map {
  border-radius: 3vw;
  width: 33.25vw;
  height: 19.33vw;
}

/* -------------------------------------------footer-------------------------------------------------*/
.footer * {
  color: #ffff;
}

.footer {
  width: 100vw;
  height: 12vw;
  background-color: #ffbb55;
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

#div_footer_logo {
  align-self: center;
  justify-content: center;
}

#div_footer_logo .container img {
  width: 6.3vw;
  height: 100%;
  margin-right: 1.8em;
}

#div_footer_logo .container h1 {
  font-size: 2vw;
}

#div_footer_logo .container:hover {
  cursor: default !important;
}

#div_footer_content {
  font-size: 1.4vw;
}

#div_github {
  align-self: center;
  flex: center;
}

#github_logo {
  width: 21px;
  height: 21px;
  margin-right: 0.5em;
}

#div_footer_rights {
  font-size: 1.3vw;
}

#div_github:hover,
#div_map:hover {
  color: #2288cc;
  transition: 200ms all;
}

#sb_proj a:hover {
  color: #2288cc;
  transition: 200ms all;
}

/* -------------------------------------------MediaQuery-------------------------------------------------*/

@media (min-width: 1300px) {
  .home main {
    padding: 5vw 10vw 0;
  }

  #big_r_side_map {
    position: absolute;
    top: 3vw;
    right: 0;
  }

  #big_r_map {
    display: block;
    margin-right: 0;
    height: 50vw;
    width: 35.21vw;
  }
}

@media (max-width: 500px) {
  .home main {
    padding: 20vw 10vw 0;
  }

  #block_one {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
  }

  #big_r_side_map {
    position: absolute;
    top: 15vw;
    right: 0;
  }
}
