.login main {
   display: flex;
   flex-direction: column;
   position: relative;
   padding: 10vw 10vw 0;
   margin-bottom: 5vw;
}

* {
   scroll-behavior: smooth;
}

/* -------------------------------------------header-------------------------------------------------*/

.header {
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgb(255, 255, 255);
   width: 100vw;
   height: 8vw;
   min-height: 50px;
   max-height: 88px;
   font-size: 1vw;
   display: grid;
   box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25);
   align-self: center;
   justify-content: center;
   z-index: 1;
   grid-template-columns: 2fr 1fr 2fr 6fr 4fr 2fr 3fr 1fr;
   grid-template-areas: ". div_header_logo header_title . div_header_button . login_header_button .";
}

#div_header_logo {
   grid-area: div_header_logo;
   align-self: center;
   justify-content: center;
   margin-right: 0;
}

#header_logo {
   min-width: 30px;
   min-height: 30px;
   width: 3.5vw;
   height: 3.5vw;
   max-width: 60px;
   max-height: 60px;
}

#header_title {
   grid-area: header_title;
   align-self: center;
   justify-content: center;
   font-size: 2vw;
   margin-left: 0.2vw;
}

#div_header_button {
   grid-area: div_header_button;
   align-self: center;
   justify-content: center;
}
#login_header_button {
   grid-area: login_header_button;
   align-self: center;
   justify-content: center;
}

#header_button {
   background-color: #ffbb55;
   color: white;
   border: 2px solid #ffbb55;
   border-radius: 0.5rem;
   width: 22.57vw;
   height: 3.65vw;
   max-width: 402px;
   max-height: 65px;
   font-size: 1.2vw;
}

#header_button_login {
   background-color: #ffbb55;
   color: white;
   border: 2px solid #ffbb55;
   border-radius: 0.5rem;
   width: 6.51vw;
   height: 3.65vw;
   max-width: 122px;
   max-height: 65px;
   font-size: 1.2vw;
}

.header.button :hover {
   background-color: white;
   color: #ffbb55;
   transition: 200ms all;
   cursor: pointer;
}

/* --------------------------------------------Main--------------------------------------------------*/
#login_container {
   margin: auto;
   margin-top: 5vh;
   margin-bottom: 10vh;
   background-color:#FFFAED;
   width: 46.7vw;
   height: 32.6vw;
   padding: 3vw 4.5vw;
   font-size: 1.2vw;
   border-radius: 0.5rem;
   text-align: left;
   color: #112233;
   box-shadow: 0px 1px 4px 0px #00000040;
}

#edit_login_container {
   margin: auto;
   margin-top: 5vh;
   margin-bottom: 10vh;
   background-color:#FFFAED;
   width: 46.7vw;
   height: 38.6vw;
   padding: 3vw 4.5vw;
   font-size: 1.2vw;
   border-radius: 0.5rem;
   text-align: left;
   color: #112233;
   box-shadow: 0px 1px 4px 0px #00000040;
}

#login_title {
   font-size: 3vw;
   font-weight: bold;
   display: flex; 
   justify-content: center
}


form {
   margin-top: 2vw;
   margin-bottom: 3vw;
}

label, input {
   display: block;
}

label {
   font-weight: bold;
   font-size: 1.6vw;
}

input {
   color: #B3C3CB;
   font-size: 1vw;
   width: 100%;
   padding: 1vw;
   border-radius: 0.5rem;
   box-shadow: 0px 1px 4px 0px #00000040;
   margin-bottom: 2vw;
   background-color: #dbffff;
}

#signin_button {
   background-color: #ffbb55;
   color: white;
   border: 2px solid #ffbb55;
   border-radius: 0.5rem;
   width: 10.41vw;
   height: 3.3vw;
   max-width: 200px;
   max-height: 60px;
   font-size: 1.22vw;
}

#login_button {
   background-color: #ffbb55;
   color: white;
   border: 2px solid #ffbb55;
   border-radius: 0.5rem;
   width: 10.41vw;
   height: 3.3vw;
   max-width: 200px;
   max-height: 60px;
   font-size: 1.22vw;
   border-spacing: 10vw;
}

#div_login_buttons {
   display: flex;
   justify-content: space-between;
   padding-left: 0.7vw;
   padding-right: 0.7vw;
} 



/* -------------------------------------------footer-------------------------------------------------*/
 .footer * {
   color: #ffff;
}

.footer {
   width: 100vw;
   height: 12vw;
   background-color: #ffbb55;
   font-size: 1.4vw;
   display: flex;
   align-items: center;
   justify-content: space-around;
   box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
   padding: 30px;
}

#div_footer_logo {
   align-self: center;
   justify-content: center;
}

#div_footer_logo .container img {
   width: 6.3vw;
   height: 100%;
   margin-right: 1.8em;
}

#div_footer_logo .container h1 {
   font-size: 2vw;
}

#div_footer_logo .container:hover {
   cursor: default !important;
}

#div_footer_content {
   font-size: 1.4vw;
}

#div_github {
   align-self: center;
   flex: center;
}

#github_logo {
   width: 21px;
   height: 21px;
   margin-right: 0.5em;
}

#div_footer_rights {
   font-size: 1.3vw;
}

#div_github:hover,
#div_map:hover {
   color: #2288cc;
   transition: 200ms all;
}

#sb_proj a:hover {
   color: #2288cc;
   transition: 200ms all;
}

/* -------------------------------------------MediaQuery-------------------------------------------------*/
@media (min-width: 1300px) {
.home main {
   padding: 5vw 10vw 0;
}
}

@media (max-width: 500px) {
.login main {
   padding: 20vw 10vw 0;
}
}
