#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map-container .leaflet-control-container {
  bottom: 10%;
  right: 5%;
  position: absolute;
}
