/* HEADER --------------------------------------------------- */

#registration_page .header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 8vw;
  min-height: 50px;
  max-height: 88px;
  font-size: 1vw;
  display: grid;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.25);
  align-self: center;
  justify-content: center;
  z-index: 1;
  grid-template-columns: 2fr 1fr 2fr 6fr 4fr 2fr 3fr 1fr;
  grid-template-areas: ". div_header_logo header_title . div_header_button . login_header_button .";
}

#registration_page .header #div_header_logo {
  grid-area: div_header_logo;
  align-self: center;
  justify-content: center;
  margin-right: 0;
}

#registration_page .header #div_header_logo #header_logo {
  min-width: 30px;
  min-height: 30px;
  width: 3.5vw;
  height: 3.5vw;
  max-width: 60px;
  max-height: 60px;
}

#registration_page .header #header_title {
  grid-area: header_title;
  align-self: center;
  justify-content: center;
  font-size: 2vw;
  margin-left: 0.2vw;
}

#registration_page .header #div_header_button {
  grid-area: div_header_button;
  align-self: center;
  justify-content: center;
}

#registration_page .header #login_header_button {
  grid-area: login_header_button;
  align-self: center;
  justify-content: center;
}

#registration_page .header #div_header_button #header_button {
  background-color: #ffbb55;
  color: white;
  border: 2px solid #ffbb55;
  border-radius: 0.5rem;
  width: 22.57vw;
  height: 3.65vw;
  max-width: 402px;
  max-height: 65px;
  font-size: 1.2vw;
}

#registration_page .header #login_header_button #header_button_login {
  background-color: #ffbb55;
  color: white;
  border: 2px solid #ffbb55;
  border-radius: 0.5rem;
  width: 6.51vw;
  height: 3.65vw;
  max-width: 122px;
  max-height: 65px;
  font-size: 1.2vw;
}

#registration_page .header #login_header_button #header_button:hover {
  background-color: white;
  color: #ffbb55;
  transition: 200ms all;
  cursor: pointer;
}

/* MAIN --------------------------------------------------- */

#registration_page main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10vw 10vw 0;
  margin-bottom: 5vw;
}

* {
  scroll-behavior: smooth;
}

#registration_page main .register_user_container {
  margin: auto;
  margin-top: 2vh;
  background-color: #fffaed;
  min-width: 46.7vw;
  min-height: 32.6vw;
  padding: 3vw 4.5vw;
  font-size: 1.2vw;
  border-radius: 0.5rem;
  text-align: left;
  color: #112233;
  box-shadow: 0px 1px 4px 0px #00000040;
  text-align: center;
}

#registration_page main .title {
  font-size: 2rem;
  font-weight: bold;
}

#registration_page main .user_data {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#registration_page main .register_user_form {
  text-align: left;
}

#registration_page main label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: bold;
}

#registration_page main input {
  color: #b3c3cb;
  font-size: 1vw;
  width: 100%;
  padding: 1vw;
  border-radius: 0.5rem;
  margin-bottom: 2vw;
  background-color: #dbffff;
  border: none;
  background-color: var(--app-background-container);
  color: #112233;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  margin-top: 0.5rem;
}

#registration_page main input::placeholder {
  color: #b3c3cb;
}

#registration_page main .register_user_container .options {
  display: flex;
  justify-content: space-between;
}

#registration_page main #already_registered_container {
  background: #ffbb55;
  width: 35%;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  height: 42px;
}

#registration_page main #already_registered {
  background: #ffbb55;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  height: 42px;
}

#registration_page main #register {
  background: #ffbb55;
  width: 35%;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  height: 42px;
}

#registration_page main button:hover {
  border: 2px solid var(--color-primary) !important;
  color: var(--color-primary) !important;
  background-color: #fffaed !important;
  transition: 200ms all;
}

/* FOOTER --------------------------------------------------- */

#registration_page .footer * {
  color: #ffff;
}

#registration_page .footer {
  width: 100vw;
  height: 12vw;
  background-color: #ffbb55;
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

#registration_page .footer #div_footer_logo {
  align-self: center;
  justify-content: center;
}

#registration_page .footer #div_footer_logo .container img {
  width: 6.3vw;
  height: 100%;
  margin-right: 1.8em;
}

#registration_page .footer #div_footer_logo .container h1 {
  font-size: 2vw;
}

#registration_page .footer #div_footer_logo .container:hover {
  cursor: default !important;
}

#registration_page .footer #div_footer_content {
  font-size: 1.4vw;
}

#registration_page .footer #div_github {
  align-self: center;
  flex: center;
}

#registration_page .footer #github_logo {
  width: 21px;
  height: 21px;
  margin-right: 0.5em;
}

#registration_page .footer #div_footer_rights {
  font-size: 1.3vw;
}

#registration_page .footer #div_github:hover,
#registration_page .footer #div_map:hover {
  color: #2288cc;
  transition: 200ms all;
}

#registration_page .footer #sb_proj a:hover {
  color: #2288cc;
  transition: 200ms all;
}

/* MEDIA QUERY --------------------------------------------------- */

@media (max-width: 500px) {
  #registration_page main {
    padding: 20vw 10vw 0;
  }
}
