* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body,
input,
button,
textarea {
  font: 500 14px "Poppins", sans-serif;
  color: #112233;
}

h1 {
  font: 600 24px "Poppins", sans-serif;
}

h2 {
  font: 500 18px "Poppins", sans-serif;
}
